@tailwind base;
@tailwind components;
@tailwind utilities;

input {
    @apply outline-amber-400
    p-2
    
}

@layer base {
    html {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        /* background-image: url("../public/images/pexels-edmond-dantès-4347216.jpg");
        background-size: cover;
        background-repeat: no-repeat; */
    }
}

